# Dataset
fraudTrain.csv
fraudTest.csv


*.pkl

# Python/Java
__pycache__/
*.pyc
.venv/
venv/
build
.gradle
target/
*.class
*.jar

# IDE
.idea/

# Environment
.env
application-local.properties

#plots
pr_curve.png
